include *.rst
include *.txt
include tox.ini

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include lib *.h
recursive-include lib *.c
recursive-include lib *.txt

recursive-include src *.py
recursive-include src *.pyi
recursive-include src py.typed
recursive-include src *.c

recursive-include tests *.csv
recursive-include tests *.dat
recursive-include tests *.ppmd
recursive-include tests *.py

recursive-include utils *.py
recursive-include utils *.txt

recursive-exclude * __pycache__
recursive-exclude * *.pyc