include *.rst
include *.txt
include tox.ini
include LICENSE

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include src *.h
recursive-include src *.c
recursive-include src *.py
recursive-include src py.typed

recursive-include tests *.csv
recursive-include tests *.ppmd
recursive-include tests *.py

recursive-include utils *.py
recursive-include utils *.txt

exclude .gitignore
exclude .gitattributes
prune .github