name: Run Tox tests

on:
  push:
    branches:
      - main
      - releases/*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]
        python-version: [
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            "3.14",
            "pypy-3.10",
        ]
        include:
          - os: macos-latest
            python-version: "3.14"
          - os: ubuntu-24.04-arm
            python-version: "3.13"
          - os: windows-11-arm
            python-version: "3.13"
        exclude:
          - os: windows-latest
            python-version: 'pypy-3.10'
    name: Test Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 20
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip tox wheel setuptools setuptools_scm[toml]
          pip install tox-gh-actions
      - name: Test project with tox
        run: |
          tox
